<h2 mat-dialog-title>Admin Registration Form</h2>
<div class="fields" mat-dialog-content [formGroup]="registerForm">
  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input id="email" formControlName="email" matInput />
    <mat-error *ngIf="emailValidationError?.errors?.['required']">
      Email is required
    </mat-error>
    <mat-error *ngIf="emailValidationError?.errors?.['email']">
      Please provide a valid email
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input id="password" type="password" formControlName="password" matInput />
    <mat-error *ngIf="passwordValidationError?.errors?.['required']">
      Password is required
    </mat-error>
    <mat-error *ngIf="passwordValidationError?.errors?.['minlength']">
      Password must be at least 6 characters long
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Confirm Password</mat-label>
    <input
      id="password_confirmation"
      type="password"
      formControlName="passwordConfirmation"
      matInput
    />
    <mat-error
      *ngIf="passwordConfirmationValidationError?.errors?.['required']"
    >
      Confirm Password is required
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>First Name</mat-label>
    <input id="firstName" formControlName="firstName" matInput />
    <mat-error *ngIf="firstNameValidationError?.errors?.['required']">
      First Name is required
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Last Name</mat-label>
    <input id="lastName" formControlName="lastName" matInput />
    <mat-error *ngIf="lastNameValidationError?.errors?.['required']">
      Last Name is required
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Phone Number</mat-label>
    <input id="phoneNumber" formControlName="phoneNumber" matInput />
    <mat-error *ngIf="phoneNumberValidationError?.errors?.['required']">
      Phone Number is required
    </mat-error>
  </mat-form-field>
  <div mat-dialog-actions>
    <button mat-button (click)="onCancelClick()">Cancel</button>
    <button mat-button color="primary" (click)="register()">Register</button>
  </div>
</div>
