<div class="container">
  <button mat-raised-button  (click)="openBookingModal()">Book Now</button>
  <div *ngIf="car" class="car-details">
    <div class="main-detail">
      <img class="main-img" [src]="'http://localhost:8000/storage/' + car.main_picture" alt="Car Image">
    <div class="car-info">
      <h1>{{ car.make }}</h1>
      <h3>Model: {{ car.model }}</h3>
      <p>Year: {{ car.year }}</p>
      <p>Price: {{ car.price }}</p>
    </div>
    </div>
    <div class="rear-images">
      <img class="rear-img" [src]="'http://localhost:8000/storage/' + car.rear_picture_1" alt="Car Image">
      <img class="rear-img" [src]="'http://localhost:8000/storage/' + car.rear_picture_2" alt="Car Image">
      <img class="rear-img" [src]="'http://localhost:8000/storage/' + car.rear_picture_3" alt="Car Image">
    </div>
  </div>
</div>
