.car-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.car-card {
  width: calc(33.33% - 60px);
  margin: 20px;
}

.container{
  margin: 20px;
}

.search-bar,.title {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  width: 100%; /* Set the width to 100% or adjust as needed */
}



.add-car-button {
  margin-left: auto;
}

.not-available{
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  margin: 50px;
}
