<div class="container">
  <div class="search-bar">
    <mat-form-field appearance="outline">
      <input matInput placeholder="Search">
    </mat-form-field>
  </div>
  <button color="primary" mat-flat-button (click)="navigateToForm()" class="add-car-button">Add Car</button>

<div class="car-list-container">
  <mat-card class="car-card" *ngFor="let car of cars" (click)="navigateToDetail(car.id)">
    <img mat-card-image [src]="'http://localhost:8000/storage/' +car.main_picture" alt="Car Image">
    <mat-card-content>
      <p>Availability: {{ car.availability }}</p>
      <p>Price: {{ car.price }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="primary">Book Now</button>
    </mat-card-actions>
  </mat-card>
</div>
</div>
