.car-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.car-card {
  width: calc(33.33% - 60px);
  margin: 20px;
}

.container{
  margin: 20px;
}

.search-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.add-car-button {
  margin-left: auto;
}
