/* election-list.component.css */
.election-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.election-card {
  width: 300px;
  margin-bottom: 20px;
  padding: 20px; /* Adjust padding as needed */
  box-sizing: border-box; /* Include padding in the width calculation */
}

.candidate-container {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  border: 2px solid #ccc; /* Border around the candidate container */
  padding: 12px; /* Padding inside the border */
}

.candidate-image {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #e0e0e0;
  margin-right: 12px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.candidate-details {
  flex: 1;
}

.candidate-details h3 {
  margin-bottom: 5px;
}

.candidate-details p {
  max-height: 80px; /* Adjust as needed */
  overflow: hidden;
  text-overflow: ellipsis;
}

.list-header {
  text-align: center;
}

.election-name {
  text-align: center;
}
