.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.profile-card {
  max-width: 400px;
  width: 100%;
}

.profile-avatar {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e0e0e0;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.rent-history{
  margin: 30px;
}
