<form class="login-form" [formGroup]="loginForm">
  <div class="container">
      <div class="left-half">
        <img class="vote-image" src="assets/images/login.png" alt="login image">
      </div>
      <div class="right-half">
        <h1 class="signin-title">Sign In</h1>
        <div class="input-group">
          <p class="signup">Don't have an account? <a (click)="navigateToRegistration()">Sign Up</a></p>
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input id="email" formControlName="email" matInput />
            <mat-error *ngIf="emailValidationError.errors?.['required']">
              Please provide a valid email
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input
              id="password"
              type="password"
              formControlName="password"
              matInput
            />
             <mat-error *ngIf="passwordValidationError.errors?.['required']">
              Please provide a valid password
            </mat-error>
          </mat-form-field>
          <a href="#" class="forgot-pw">Forgot Password?</a>
        </div>
        <button color="primary" class="login-btn" mat-flat-button (click)="login()">Sign In</button>
      </div>
    </div>
  </form>

